/* TODO: z-index attributes are currently used as a temporary patch. Look at relative positioning
         strategies and see if there is a better way to display these (currently just the "copy")
         text) */

button {

    background-color: var(--secondary-color);
    color: var(--text-color);

}

button:hover {

    background-color: var(--darker-secondary);
    cursor: pointer;

}

button:focus {

    outline-color: var(--text-color);
    outline-width: 4px;
    outline-style: solid;
    outline-offset: -4px;

}

#home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;

    margin: 10px 5%;
    padding: 10px;
}

#alerts-url-container {
    display: flex;
    margin: 0 0 35px 0;

    max-width: 100%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#alerts-url-field {
    width: 800px;

    max-width: 90%;
    min-width: 20%;

    border-radius: 20px;
    margin: 0 10px;
    padding: 10px;

    background-color: var(--secondary-color);
    color: var(--text-color);

    font-size: large;
    text-align: center;
}

#copy-alerts-url-btn {

    border-style: outset;
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--text-color);

    padding: 10px;

    font-size: larger;

}

#alerts-customization-container {
    
    width: 840px;

    display: flex;
    flex-direction: row;

    /* border-style: solid;
    border-color: var(--primary-color);
    border-width: 10px; */


}

#alerts-categories-container {

    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: var(--primary-color);

}

.alerts-category-btn {

    padding: 8px;

    height: calc(100% / 6);

    border-style: solid;
    border-width: 2px;
    border-color: var(--darker-secondary);

    font-size: larger;

}

#alert-options-container {

    background-color: var(--primary-color);
    color: var(--text-color);

    width: 640px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    outline-style: solid;
    outline-color: var(--darker-secondary);
    outline-width: 2px;
    outline-offset: -2px;

}

    #more-alerts-categories-top {

        background-color: var(--lighter-primary);
        width: 100%;
        
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        outline-style: solid;
        outline-color: var(--darker-secondary);
        outline-width: 2px;
        outline-offset: -2px;

    }

    #selected-alert-description {

        color: var(--text-color);
        font-size: larger;

        text-align: center;

    }

    #alert-settings-section-1 {

        display: flex;
        
        width: 620px;
        padding: 10px;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: hsl(from aquamarine h s calc(l - 40));

        outline-style: solid;
        outline-color: var(--darker-secondary);
        outline-width: 2px;
        outline-offset: -2px;
        
    }

        #alert-preview-box {

            height: 300px;
            width: 300px;
            max-height: 100%;
            max-width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            background-image: conic-gradient(#eee 25%, white 0 50%, #eee 0 75%, white 0);
            background-size: 150px 150px;

            border-style: solid;
            border-color: hsl(from var(--secondary-color) h s calc(l - 10));
            border-radius: 10px;

        }

            #alert-img {

                max-width: 300px;
                max-height: 300px;
                height: auto;
                width: auto;

            }

        #alert-customization-inputs-area {

            display: flex;
            flex-direction: column;

            justify-content: space-evenly;
            align-items: center;

            width: calc(100% - 320px);
            height: 100%;

        }

            #alert-preview-btn {
                field-sizing: content;

                min-width: 50%;
                height: 15%;

                border-style: outset;
                border-width: 2px;
                border-radius: 30px;

                margin: auto;

                font-size: larger;

            }

            #alert-preview-btn:focus {

                outline-color: var(--text-color);
                outline-width: 4px;
                outline-style: solid;

            }

            /* Grid of 4: Set Image button, Set Audio button, image thumbnail preview, audio volume slider */
            #upload-files-area {

                display: grid;
                place-items: center;

                width: 100%;
                height: 60%;

                grid-template-columns: 50% 50%;
                grid-template-rows: 25% 75%;

                justify-content: space-evenly;
                align-items: center;

            }

                #image-file-input-btn {

                    border-radius: 20px;
                    width: 100px;
                    height: calc(1rem + 20px);

                    font-size: large;

                }

                #image-preview-box {

                    height: 100px;
                    width: 100px;
                    max-height: 100%;
                    max-width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-image: conic-gradient(#eee 25%, white 0 50%, #eee 0 75%, white 0);
                    background-size: 50px 50px;

                    border-style: solid;
                    border-color: hsl(from var(--secondary-color) h s calc(l - 10));
                    border-radius: 10px;

                }

                    #alert-img-thumb {

                        max-width: 100px;
                        max-height: 100px;
                        height: auto;
                        width: auto;

                    }

                #audio-file-input-btn {

                    border-radius: 20px;
                    width: 100px;
                    height: calc(1rem + 20px);

                    font-size: large;

                }

                #alert-audio-details {

                    place-self: center;
                    height: 100%;
                    width: 100%;

                    display: flex;
                    flex-direction: column;

                    justify-content: center;
                    align-items: center;

                }

                    #alert-audio-filename {

                        text-align: center;
                        overflow-wrap: anywhere;
                        overflow-y: auto;

                        width: 100%;
                        max-height: 50%;

                        padding: 5px 0;

                        background-color: #eee;
                        color: var(--secondary-color);
                        
                        border-style: solid;
                        border-color: var(--secondary-color);
                        border-width: 2px;
                        border-radius: 10px;

                        /* Chrome, Safari, and Edge (Blink/WebKit) */
                        &::-webkit-scrollbar {
                            display: none;
                        }

                        /* Firefox */
                        scrollbar-width: none;

                        /* Internet Explorer 10+ and legacy Edge */
                        -ms-overflow-style: none;

                    }
                
                    #alert-audio-volume {

                        width: 100%;
                        height: 25%;

                        display: flex;
                        justify-content: center;

                        accent-color: hsl(from var(--secondary-color) h s calc(l - 20));

                    }

                    #play-audio-btn {

                        border-radius: 15px;
                        width: 60px;
                        height: calc(1rem + 10px);

                    }

            #alert-duration {

                display: flex;

                color: var(--text-color);

                justify-content: center;
                align-items: center;

                width: 100%;
                height: 15%;

            }

            #alert-duration-input {

                width: 50px;

                text-align: center;

                border-style: solid;
                border-radius: 10px;
                border-color: var(--darker-secondary);
                padding: 5px;

                margin: 0 5px;

            }



    #alert-settings-section-2 {

        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-color: teal;
        width: 100%;

        padding: 10px 0;

        outline-style: solid;
        outline-color: var(--darker-secondary);
        outline-width: 2px;
        outline-offset: -2px;
        
    }

        #alert-text-input {

            width: 500px;
            text-align: center;

            padding: 10px;
            border-radius: 15px;
            

        }

        #alert-text-components-area {
            
            display: flex;
            flex-direction: row;

            justify-content: space-evenly;
            align-items: center;

        }

            #alert-text-components-area ul {
                margin: 10px 0 0 0;
            }

            #alert-text-components-area li {

                /*For now, provide a bullet list of variables available to the current event*/
                background-color: var(--secondary-color);
                margin: 10px 0;

            }

    #more-alerts-categories-bottom {

        background-color: var(--lighter-primary);
        width: 100%;
        
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        outline-style: solid;
        outline-color: var(--darker-secondary);
        outline-width: 2px;
        outline-offset: -2px;

    }



.invisible {

    display: none;

}

#under-construction {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: larger;

}

.triangle {

    z-index: -1;

    position: relative;

    text-align: center;
    vertical-align: middle;
    color: black;

    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 30px solid yellow;

}

.triangle * {

    z-index: -1;
    
    position: absolute;
    top: 5px;
    left: -4px;

}