#slither-home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slither-home-alerts-control-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

