<link rel="stylesheet" href="/slither/css/navbar.css" />
<nav id="main-nav" aria-label="Main Navigation"></nav>
<script>
    const navItems = <%- data.navItems %>;
</script>
<script src="/slither/js/navbar.js"></script>