<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Alerts for Dari</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slitherbot/public/favicon.ico" />
  <link rel="stylesheet" href="/slitherbot/public/css/base-style.css" />
  <link rel="stylesheet" href="/slitherbot/public/css/alerts.css" />
</head>
<body>
  <audio id="alert-audio">
	<source src="" type="audio/mpeg">
	Your browser does not support the audio element.
  </audio>
  <img id="alert-image" src="" />
</body>

<script type="text/javascript">
  const hostName = <%- JSON.stringify(hostName) %>
  console.log('hostName variable in alerts.ejs: ', hostName)
</script>
<script src="/slitherbot/public/js/alerts.js"></script>

</html>