<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SlitherBot Auth</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slitherbot/public/favicon.ico">
  <link rel="stylesheet" href="/slitherbot/public/css/base-style.css" />
  <link rel="stylesheet" href="/slitherbot/public/css/auth.css" />
</head>
<body>
  <div id="slitherbot-auth-main">
    <button id="authorize" onclick="authorize_with_twitch()">Authorize Me!</button>
  </div>
</body>

<script>
  function authorize_with_twitch() {
    // Do thing
  }
</script>

</html>