<% const AUTH_BASEURL = `https://id.twitch.tv/oauth2/authorize`

const AUTH_PARAMS = `${twitchAuthParams.idlabel}=${twitchAuthParams.idvalue}&` +
                      `${twitchAuthParams.redirlabel}=${twitchAuthParams.redirvalue}&` +
                      `${twitchAuthParams.restypelabel}=${twitchAuthParams.restypevalue}&` +
                      `${twitchAuthParams.scopelabel}=${twitchAuthParams.scopevalue}&` +
                      `${twitchAuthParams.statelabel}=${twitchAuthParams.statevalue}`

const AUTH_URL = `${AUTH_BASEURL}?${AUTH_PARAMS}` %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SlitherBot Auth</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/twitch/media/favicon.ico">
  <link rel="stylesheet" href="/twitch/css/base-style.css" />
  <link rel="stylesheet" href="/twitch/css/auth.css" />
</head>
<body>
  <div id="slitherbot-auth-main">
    <a class="link-button" id="authorize" href="<%= AUTH_URL %>">Authorize Me!</a>
  </div>
</body>

</html>