<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SlitherBot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/twitch/media/favicon.ico">
  <link rel="stylesheet" href="/twitch/css/base-style.css" />
  <link rel="stylesheet" href="/twitch/css/index.css" />
</head>
<body>
  <div id="slitherbot-index-main">
    <a class="link-button" id="start-btn">Ready to Start! Type of token is a <%= typeof tokenType %></a>
  </div>
</body>

</html>