<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SlitherBot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slither/media/favicon.ico">
  <link rel="stylesheet" href="/slither/css/base-style.css" />
  <link rel="stylesheet" href="/slither/css/auth.css" />
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <div id="main-layout-container">
    <div id="slitherbot-auth-main">
      <a class="link-button" id="slitherbot-auth-button" href="/slither/auth/twitch">Login with Twitch</a>
    </div>
  </div>
</body>

</html>