<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SlitherBot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slither/media/favicon.ico">
  <link rel="stylesheet" href="/slither/css/base-style.css" />
  <link rel="stylesheet" href="/slither/css/home.css" />
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div id="slitherbot-home-main">
    <a class="link-button" id="start-btn">You've been redirected to Home! The Type of the token that came with you is is a <%= tokenType %></a>
  </div>
</body>

</html>