<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>SlitherBot</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/slither/media/favicon.ico">
  <link rel="stylesheet" href="/slither/css/base-style.css" />
  <link rel="stylesheet" href="/slither/css/home.css" />
  <!-- For now, stick the access token script in the header and don't load the page until  -->
  <script src="/slither/js/auth.js"></script>
  <script src="/slither/js/home.js"></script>
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
  <div id="slitherbot-home-main">
      <p>Welcome to Home! Your OBS Alerts URL is:</p>
      <p><%= alertsUrl ? alertsUrl : '' %></p>
  </div>

</body>

</html>